<img
  src="/assets/svg/Logo-Tik-Talk.svg"
  class="ml16 mb20"
>

<nav>
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <a
        class="menu-item" [routerLink]="[menuItem.link]"
        routerLinkActive="active"
      >
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </a>
    </li>
  </ul>
</nav>

<p class="medium-text mb20 mt20">Подписчики</p>

<!--<pre>{{ subscribers$ | async | json }}</pre>   &lt;!&ndash; Тег ПРЕ: чтобы осталось форматирование. &ndash;&gt;-->

@for (profile of subscribers$ | async; track profile.id) {
  <app-subscriber-card
   [profile]="profile"></app-subscriber-card>
}


<div class="mt20 to-subscribers">
  <a
    [routerLink]="['/subscribers']"
    class="to-subscribers-link medium-text"
  >Все подписчики</a>
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>


<footer class="sidebar__footer">
  @if (me(); as me) {
    @if (me.avatarUrl) {
    <img [src]="me.avatarUrl | imgUrl">
    } @else {
      <img src="/assets/svg/avatar-none.png">
    }

    <div class="medium-text username-text">{{ me.username }}</div>
    <a [routerLink]="['home']"
       >
      <svg class="settings-btn" icon="settings"></svg>
    </a>

  }
</footer>
